<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar1">
      <app-Menu></app-Menu>
    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="form-group">
            <div class="text-center mt-30">
              <h1>Bem vindo ao Plano de Ensino</h1>
            </div>
            <br><br>
            <div class="row">
              <div class="col-5">
                <h5>Neste sistema Web, o professor pode consultar, selecionar e ajustar o plano de ensino de uma disciplina (através de uma sugestão de alteração).</h5>
              </div>
              <div class="col-1">&nbsp;</div>
              <div class="col-6">
                <h5>Também é possível consultar, selecionar e editar livros, autores, usuários, cursos e sugestões.</h5>
              </div>
            </div>
            <div class="row mt-30">
              <div class="col-12">
                <h5>Selecione uma das opções no menu ao lado para começar a utilizar o sistema.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>