<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar1">
            <app-Menu></app-Menu>
        </div>
  
      <!-- componente da tela -->
      <div class="col-md-10">
        <div class="container">
            <div class="row justify-content-md-center">
                <form>
                    <div class="form-group">
                        <div class="text-center mt-30">
                            <h1>Cadastrar Usuário</h1>
                        </div>
                        <div class="mt-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Usuário</h6>
                                    <input class="form-control form-control-sm" type="text" placeholder="Nome do usuário" [(ngModel)]="usuario.nome" name="nomeUsuario">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="mt-10">Login</h6>
                                    <input type="text" class="form-control form-control-sm" name="login" [(ngModel)]="usuario.login" placeholder="Credencial para acessar o sistema">
                                </div>
                                <div class="col-md-4">
                                    <h6 class="mt-10">Senha</h6>
                                    <input type="password" class="form-control form-control-sm" name="senha" id="senha" [(ngModel)]="usuario.senha" placeholder="Credencial para acessar o sistema">
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" class="mt-50" onclick="mostrarSenha()">
                                    <label for="senha">&nbsp;Exibir Senha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="mt-10">Tipo de Usuário</h6>
                                    <input type="radio" name="tipoUsuarioProfessor" [(ngModel)]="usuario.tpUsuario" value="Professor">
                                    <label for="Professor">&nbsp;Professor</label>
                                    &nbsp;
                                    <input type="radio" name="tipoUsuarioNde" [(ngModel)]="usuario.tpUsuario"
                                        value="Professor NDE">
                                    <label for="ProfessorNDE">&nbsp;Professor NDE</label>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="mt-10">Status</h6>
                                    <input type="radio" name="status" [(ngModel)]="usuario.status"
                                        value="Ativo">
                                    <label for="Ativo">&nbsp;Ativo</label>
                                    &nbsp;
                                    <input type="radio" name="status" [(ngModel)]="usuario.status"
                                        value="Inativo">
                                    <label for="Inativo">&nbsp;Inativo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-2">
                            <button type="button" class="btn btn-dark" onClick="window.location.reload();">Limpar/Recarregar</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="saveUsuario()">Salvar/Atualizar</button>
                        </div>
                        <div class="col-md-2 col-sm-2 ml-5">
                            <button class="btn btn-primary" (click)="mostrarListaUsuario = !mostrarListaUsuario; getUsuarios()">
                                {{mostrarListaUsuario ? 'Mostrar Listagem' : 'Ocultar Listagem'}}
                            </button>
                        </div>
                    </div>
                    <div class="mt-20" *ngIf="!mostrarListaUsuario">
                        <h3>Lista de Usuários ({{usuarios.length}})</h3>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Ações</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let usuario of usuarios | paginate: { itemsPerPage: contadorUsuario, currentPage: pagUsuario }">
                                    <td>
                                        <button class="btn btn-primary btn-sm"
                                        (click)="abrirDetalhesUsuario(usuario)">Selecionar/Editar</button>
                                    </td>
                                    <td>{{usuario.nome}}</td>
                                    <td>{{usuario.login}}</td>
                                    <td>{{usuario.tpUsuario}}</td>
                                    <td>{{usuario.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pagUsuario = $event"></pagination-controls>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>