<div class="logo mt-30">
  <a routerLink="/home"><img src="assets/imagens/logo-athon.png" class="img-responsive center-block" alt="Logo Athon" height="85px"></a>
</div>
<br />
<div class="left-navigation">
  <ul class="list">
    <h5><strong>CADASTRO</strong></h5>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-curso" routerLinkActive="active">Curso</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-livro" routerLinkActive="active">Livro</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-sugestao" routerLinkActive="active">Sugestão</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/cadastro-usuario" routerLinkActive="active">Usuário</a>
    </li>
  </ul>

  <br />

  <ul class="list">
    <h5><strong>CONSULTA</strong></h5>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/consulta-curso" routerLinkActive="active">Curso</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/consulta-livro" routerLinkActive="active">Livro</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/consulta-plano-de-ensino" routerLinkActive="active">Plano de Ensino</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/consulta-sugestao" routerLinkActive="active">Sugestão</a>
    </li>
    <li>
      <a class="nav-link active color-txt" aria-current="page" routerLink="/consulta-usuario" routerLinkActive="active">Usuário</a>
    </li>
  </ul>
  <br>
  <ul class="list">
    <li><a routerLink="/login"><img src="assets/imagens/icone-sair.png" height="30px"><STRONG> SAIR</STRONG></a></li>
  </ul>
</div>